<div class="container-bg">
	<div class="row">
		<div class="col-xs-12 col-sm-6 sm-offset-6 col-md-4 col-md-offset-4 col-lg-4">
			<div class="panel panel-default">
				<div class="panel" id="login">
					<a href="#" title="Profile" class="profile-title">Profile Builder</a>
						<h3 class="profile-title2">Log in to your account</h3>
						<br>
					<form action="/login" method="post" role="form">
						<input name="_csrf" type="hidden" value="sx9ZPdNygA+XwMdcQB71uzzoXHo1bdNs2QH2c8Xd5hY=" />
						
						<div class="form-group">
							<label for="username">Username</label>
							<div class="input-icon icon-username">
							</div>
							<input autofocus="true" class="form-control" id="email" name="username" placeholder="username" tabindex="1" type="text" />
						</div>

						<div class="form-group">
							<label for="password">Password</label>
							<div class="input-icon icon-password"></div>
							<input autocomplete="off" class="form-control password" id="password" name="password" placeholder="Password" tabindex="2" type="password" />
						</div>

						<button class="btn btn-primary btn-lg btn-block" name="commit" tabindex="3" type="submit" value="Log In">Log In</button>

					</form>
						<br>

						<div class="login-footer">
							<a href="/signup/login">New to Profile Builder? &nbsp;<span>Sign Up &nbsp;&nbsp;&nbsp;</span></a>
							<br>
							<a href="/account/password/reset" style="margin-left: 15px">Forgot your password?</a>
						</div>
				</div>
			</div>
		</div>
	</div>    
</div>



{{!-- 
	Salsa Libre old code. Replaced by RLopez....Above!

    <div class="page-wrap gradient-primary">
            <div class="content">
                <div class="panel" id="login">
                  <a href="#" title="Profile" class="profile-title">Profile Builder</a>
                    <h3 class="profile-title2">Log in to your account ********************</h3><br>
                       <form action="/login" method="post" role="form">

                      		<input name="_csrf" type="hidden" value="sx9ZPdNygA+XwMdcQB71uzzoXHo1bdNs2QH2c8Xd5hY=" />

                      		<div class="form-group">
                      		    <label for="username">Username</label>
                      		    <div class="input-icon icon-username">
                      		</div>

                      		    <input autofocus="true" class="form-control" id="email" name="username" placeholder="username" tabindex="1" type="text" />
                      		</div>

                      		<div class="form-group">
                      		    <label for="password">Password</label>
                      		    <div class="input-icon icon-password"></div>
                      		    <input autocomplete="off" class="form-control password" id="password" name="password" placeholder="Password" tabindex="2" type="password" />
                      		</div>

                      		<button class="btn btn-primary btn-lg btn-block" name="commit" tabindex="3" type="submit" value="Log In">Log In</button>

                    	</form><br>

                    	<div class="login-footer">
                    		<a href="/signup/login">New to Profile Builder? &nbsp;<span>Sign Up</span></a>
                        	<a href="/account/password/reset" style="margin-left: 55px">Forgot your password?</a>
                        </div>
                </div>
            </div>
        </div>
        
    <footer class="logo"><a href="#" title="profileBuilder.com"></a></footer> --}}

