.panel {
	width:30%;
    min-width:100px;
    min-height:100px;
    position: absolute;
    left:35%;
    top:20%;
    padding: 40px;

}
.container-bg {
	margin-top: 100px;
}
.panel {
	border-radius: 20px;
	font-family: avenir;
}
.login-footer {
	font-family: avenir;
	text-align: center;
}
.profile-title {
	font-family: avenir;
	/*margin-left: 35px;*/
	font-size: 25px;
	text-align: center;
}
.profile-title2 {
	font-family: avenir;
	text-align: center;
	/*margin-left: 35px;*/
}
body {
	background: url("/img/bg.jpeg") no-repeat center center fixed ;
}
