<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="assets/style.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><h4>Dev Point</h4></a>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/login">Login</a>
                        </li>
                    </ul>
                </div>
    </nav>

    <div class="container">
        <div class="row centered-form">
             <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 lcol-lg-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign up for DevPoint </h3>
                    </div>
                    <div class="panel-body">
                        <form action="/register" method="post" role="form">
                            <!-- <div class="row"> -->
                            
                              <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="username" id="username" class="form-control input-sm" placeholder="Please select a User Name">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="firstName" id="firstName" class="form-control input-sm" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="lastName" id="lastName" class="form-control input-sm" placeholder="Last Name">
                                </div>
                            </div>
                            <!--  </div> -->
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                                </div>
                            </div>
                            <input type="submit" value="Register" class="btn btn-info btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="panel panel-default">
        <div class="panel-footer">
            DEV POINT FOOTER
        </div>
    </div>
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>
        $(function() {
            $('form[name=update-user]').submit(function() {
                $.post($(this).attr('action'), $(this).serialize(), function(res) {
                    console.log(res);
                    location.reload();

                });
                alert("User Name already Taken");
                return false; // prevent default action
            });
         });
    </script>

</body>

</html>
