<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="/mydashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="/mydashboard/aboutme"><i class="fa fa-fw fa-dashboard"></i> About Me</a>
        </li>
        <li>
            <a href="/mydashboard/portfolio"><i class="fa fa-fw fa-dashboard"></i> Portfolio</a>
        </li>
        <li>
            <a href="/mydashboard/inbox"><i class="fa fa-fw fa-bar-chart-o"></i> Inbox</a>
        </li>
    </ul>
</div>