<div class="row">
    <h4 class="pre">About Me</h4>
    <div class="col-xs-12">
        <center><h2>Hello There~ My name is {{user.firstName}} <br> and I am a coder from planet Earth.</h2></center>
        <p>{{user.description}}</p>
    </div>
</div>
<div class="row section-block services-block">
    <h4 class="pre">Services that I provide</h4>

    <div class="col-md-12">
        <div class="service">
            <h4 id="title"></h4>
            <p id="service_desc"></p>
        </div>
    </div>
    <br>
{{!--     <div class="col-md-4">
        <div class="service">
            <i class="icon-basic-magnifier"></i>
            <h4>Searching</h4>
            <p>
                Lorem ipsum dolor sit amet is simply a dummy text.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="service">
            <i class="icon-basic-lightbulb"></i>
            <h4>Creative</h4>
            <p>
                Lorem ipsum dolor sit amet is simply a dummy text.
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="service">
            <i class="icon-ecommerce-graph1"></i>
            <h4>Searching</h4>
            <p>
                Lorem ipsum dolor sit amet is simply a dummy text.
            </p>
        </div>
    </div>
</div> --}}

{{#section 'script'}}
<script type="text/javascript">
    var serviceId = $(this).attr("data-id");
    $.ajax({
        url: '/api/serviceById/1',
        method: 'GET'
    }).done(function(response) {
        $("#title").text(response[0].title);
        $("#service_desc").text(response[0].description);
    });

</script>
{{/section}}

