<div class="row">
    <div class="col-xs-3 col-md-offset"></div>
    <div class="col-xs-3 col-md-offset">
        <h1>About me</h1>
    </div>
    <div class="col-xs-3 col-md-offset"></div>
    <div class="col-xs-3 col-md-offset"></div>
</div>
<br>
<div class="row">
    <div class="col-xs-3 col-md-offset"></div>
    <div class="col-xs-3 col-md-offset">
        <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" width="300" height="300">
    </div>
    <div class="col-xs-3">
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sollicitudin leo non magna porta pellentesque. Sed semper, magna ac fermentum porttitor, tellus ex accumsan tellus, vel tincidunt risus dui ut libero. Donec vitae ornare nisi. Etiam nec tempor nisl. In laoreet sem magna, sit amet lacinia ante interdum in. Pellentesque iaculis consequat nisi, eu efficitur nulla mollis sit amet. Mauris tincidunt pellentesque quam, dapibus sagittis orci vehicula id.</p> -->
        {{user.description}}
    </div>
    <div class="col-xs-3 col-md-offset"></div>
</div>
<div class="row">
    <div class="col-xs-3 col-md-offset">
        <br>
        <div class="container-fluid">
            <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="60" height="60"><a href= "//{{user.linkGitHub}}" target="blank">{{user.firstName}}'s github</a>
        </div>
    </div>
</div>
