<div class="row">
    <h4 class="pre">Contact Me</h4>
    <div class="col-xs-12">
        <form action="" method="POST" role="form">
            <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" id="" placeholder="Input field" required>
            </div>
            <div class="form-group">
                <label for="">Phone Number</label>
                <input type="text" class="form-control" id="" placeholder="Input field">
            </div>
            <div class="form-group">
                <label for="">Message</label>
                <textarea name="" id="input" class="form-control" rows="3" required="required"></textarea>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>

        </form>
    </div>
</div>
